h4 {
    color: rgb(13, 71, 146);
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(28, 31, 228);
    font-weight: 900;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(13, 71, 146);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: rgb(13, 71, 146);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    background-color: blanchedalmond;
}

section, footer {
    padding: 40px;
    margin: auto;
    width: 800px;
    background-color: #fff5e6;
}

.profile {
    text-align: center;
    padding-top: 70px;
}

.profile > img {
    width: 200px;
    border-radius: 150px;
    border: solid rgb(13, 71, 146) 3.5px;
}

.social-media-link > img {
    width: 80px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: center;
}

.social-media-link {
    text-decoration: none;
    text-align: center;
}

.about {
    text-align: center;
}

.about > a {
    padding-bottom: 10px;
}

.social-media {
    padding-top: 35px;
    align-content: center;
}

p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resume-link {
    font-size: 18px;
}

.portfolio-pic {
    width: 350px;
}

.project-container > h2 {
    font-size: 23px;
}

.Project {
    padding-top: 10px;
    padding-bottom: 30px;
}

.project-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.calendar-pic {
    height: 320px;
}

.torito-pic {
    height: 150px
}